*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary: #D82B28; /*#ea5454*/
	--primary-hover: #521D1D;
	--secondary: #0f1021;
	--border-color: rgb(221, 221, 221);
	--bg-white: rgb(241, 240, 241);
	--bg-white-hover: #ececec;
	--f-white: rgb(246, 252, 255);
}

ul > li {
	list-style: none;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 1.6rem;
}
body {
	background-color: var(--bg-white);
	font-family: 'Montserrat', sans-serif !important;
}
a {
	color: inherit;
  text-decoration: none !important; 	
}
a:hover {
	color: var(--primary);
}
main {
	margin-top: 138px;
}
@media screen and (min-width: 1040px) {
	main {
		margin-top: 78px;
	}
}
.card {
	border: none;
}
.breadcrumb { 
	font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
	.breadcrumb { 
		justify-content: center;
	}
}

.button {
	color: var(--primary);
	border-color: var(--primary);
	padding: 10px;
	font-size: 1.4rem;
	border-radius: 5px;
}
.button:hover {
	color: white;
	background-color: var(--primary);
}
.dropdown-header {
	border: 1px solid #34363c;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background-color: #1e1f24;
	color: white;
	font-size: 1.5rem;
	padding: 0;
}
.dropdown-header > li:hover {
	background-color: #34363c;
}
.dropdown-header > li > a:hover {
	color: white;
}
.dropdown {
	z-index: 999;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px #e0e0e0;
}

.products {
	margin: 20px 0;
}
.pagination {
	margin-top: 30px !important;
}
.page-item.active .page-link{
	background-color: var(--primary);
	border-color: var(--primary);
}
.page-link {
	padding: 10px 15px;
	font-size: 1.2rem;
	color: #999;
}
.page-link:hover {
	color: rgba(204, 24, 30, 0.9)
}
.page-item:first-child .page-link {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.page-item:last-child .page-link {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
