.product-slide {
	max-width: 90%;
	margin: 30px auto;
	display: grid;
}
.product-slide .container-fluid {
	padding: 0;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product-slide__header {
	text-transform: uppercase;
	margin: 10px 0;
}
.card {
	cursor: pointer;
}
.card a:hover {
	color: inherit;
}
.card .card-body {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.card-text {
	max-height: 4.2rem;
	margin-bottom: 6px;

	font-weight: 500;
	font-size: 1.4rem;

	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.true-price {
	font-size: 1.6rem;
	font-weight: 500;
}
.price {
	color: rgb(120, 120, 120);

	font-size: 13px;
	font-weight: 300;
	text-decoration: line-through;
}
